@font-face {
  font-family: "geomanist";
  src: url("../assets/fonts/geomanist/geomanist-book.woff2") format("woff2"),
    url("../assets/fonts/geomanist/geomanist-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "cornerstone";
  src: url("../assets/fonts/cornerstone.woff2") format("woff2"),
    url("../assets/fonts/cornerstone.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #ebecf5;
  font-family: "geomanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}
#root {
  width: 100%;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skip-link {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #5c4268;
  transition: top 1s ease-out;
  z-index: 100;
}
.skip-link:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  transition: top 0.1s ease-in;
}
header {
  position: relative;
  text-align: center;
  padding-top: 3em;
}
header h1 {
  display: flex;
  justify-content: center;
  color: #313030;
  font-weight: bold;
  font-family: "cornerstone", sans-serif;
  font-size: 2.5em;
}
header h1 img {
  margin-right: 0.5em;
}
header nav {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 7em;
  border: 1px solid rgba(32, 33, 36, 0.12);
  background-clip: padding-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
header nav a {
  position: relative;
  color: #5c4268;
  border: 2px solid transparent;
  border-radius: 6em;
  padding: 0 0.75em;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}
header nav a:hover {
  text-decoration: underline;
}
header nav a:nth-of-type(n + 2):before {
  content: "";
  position: absolute;
  left: -2px;
  top: 15%;
  height: 70%;
  width: 1px;
  background: rgba(32, 33, 36, 0.1);
}
header nav a.active {
  color: #a84a7a;
}
header nav a:focus:not(:active) {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px #8b9099;
}
header nav a:focus:not(:active).active {
  box-shadow: 0 0 0 2px #a84a7a;
}
main {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  min-height: 40em;
  padding-top: 2em;
  padding-bottom: 2em;
  outline: 0;
}
main > p {
  text-align: center;
}
main .main-heading {
  font-family: "cornerstone", sans-serif;
  padding: 1rem 0 2rem;
  color: #313030;
  font-size: 1.8em;
  outline: 0;
  text-align: center;
}
main .loading {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 3em;
}
main .fully-stocked {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 3em;
}
main ul.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  main ul.container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  main ul.container {
    grid-template-columns: 1fr;
  }
}
main section.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  height: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 1em;
  cursor: pointer;
  border: 1px solid rgba(32, 33, 36, 0.12);
  background-clip: padding-box;
  transform: translate(0) scale(1, 1);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
  main section.card {
    grid-template-rows: 70% 30%;
  }
}
main section.card:hover,
main section.card:focus-within {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}
main section.card:hover .text-container h3 a {
  text-decoration: underline;
}
main section.card:focus-within {
  box-shadow: 0 0 0 3px #ff71ba, 0 0 0 6px rgba(0, 0, 0, 0.6);
}
main section.card:focus-within a {
  outline: 2px solid transparent;
}
main section.card .text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  padding: 1.5em;
  height: 100%;
}
main section.card .text-container h3 {
  padding: 0;
  color: #403147;
  font-size: 1.25em;
  line-height: 1.4375em;
}
main section.card .text-container h3 a {
  color: #403147;
  margin-bottom: 1.5em;
  text-decoration: none;
}
main section.card .image-container {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #f8f8f8;
  text-align: center;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  height: 100%;
  border-bottom: 1px solid rgba(32, 33, 36, 0.1);
}
main section.card .image-container img {
  max-width: 60%;
}
main section .card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.3em 0 0 0;
}
main section .card-content p {
  margin: 0;
  color: #403147;
}
main section .card-content p.price {
  font-size: 1em;
  position: relative;
  margin-right: 1.125em;
  color: rgba(64, 49, 71, 0.8);
}
main section .card-content p.price:after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: -0.7em;
  background: rgba(64, 49, 71, 0.4);
  border-radius: 50%;
}
main section .card-content p.stock {
  font-size: 1em;
  color: rgba(64, 49, 71, 0.8);
}
main section .card-content p.stock.out {
  color: #d8474f;
}
main section .card-content p.description {
  width: 100%;
  margin-top: 1em;
  line-height: 1.375em;
  color: rgba(64, 49, 71, 0.9);
  font-size: 0.875em;
}
main .form-frame {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid rgba(32, 33, 36, 0.12);
  background-clip: padding-box;
  border-radius: 1em;
}
main .form-frame .image-container {
  display: flex;
  background-color: #f8f8f8;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-right: 1px solid rgba(32, 33, 36, 0.1);
}
main .form-frame .image-container img {
  flex: 1;
  align-self: center;
  justify-self: center;
  margin-left: 2em;
  margin-right: 2em;
}
main .form-frame .form-container {
  background-color: #fff;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 2em;
}
main .form-frame .form-container form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0;
}
main .form-frame .form-container form label {
  justify-self: right;
  align-self: start;
  color: rgba(64, 49, 71, 0.8);
  line-height: 2.375em;
}
main .form-frame .form-container form textarea {
  resize: vertical;
}
main .form-frame .form-container form .checkbox-wrapper {
  min-height: 3em;
  display: flex;
}
main .form-frame .form-container form input,
main .form-frame .form-container form select,
main .form-frame .form-container form textarea {
  margin-bottom: 1.5em;
}
main .form-frame .form-container form input[type="checkbox"] {
  cursor: pointer;
  outline: 0;
  margin: 1.175em 0px;
  z-index: 5;
  opacity: 0;
  position: absolute;
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]
  + .checkbox-wrapper-checked {
  display: inline-block;
  width: auto;
  padding-left: 2rem;
  position: relative;
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]
  + .checkbox-wrapper-checked:before,
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]
  + .checkbox-wrapper-checked:after {
  display: inline-block;
  position: absolute;
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]
  + .checkbox-wrapper-checked:before {
  content: "";
  border: 1px solid #8b9099;
  border-radius: 3px;
  display: inline-block;
  height: 1.125em;
  width: 1.125em;
  left: 0;
  top: 8px;
  transition: 0.2s box-shadow ease-in-out;
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]
  + .checkbox-wrapper-checked:after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  content: none;
  display: inline-block;
  height: 5px;
  left: 4px;
  top: 13px;
  width: 10px;
  transform: rotate(-45deg);
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]:checked
  + .checkbox-wrapper-checked:after {
  content: "";
  color: #fff;
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]:checked
  + .checkbox-wrapper-checked:before {
  background: rgba(64, 49, 71, 1);
  border-color: rgba(64, 49, 71, 1);
}
main
  .form-frame
  .form-container
  form
  input[type="checkbox"]:focus:not(:active)
  + .checkbox-wrapper-checked:before {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8b9099;
}
main .form-frame .form-container form input:not([type="checkbox"]),
main .form-frame .form-container form select,
main .form-frame .form-container form textarea {
  width: 100%;
  justify-self: left;
  align-self: center;
  background: #fff;
  border: 1px solid #8b9099;
  border-radius: 6px;
  color: rgba(32, 33, 36, 1);
  font-size: 1rem;
  line-height: 2.25em;
  min-width: 10rem;
  padding: 0 0.75em;
  vertical-align: baseline;
  font-family: "geomanist", sans-serif;
  transition: box-shadow 0.2s ease-in-out;
}
main .form-frame .form-container form select {
  border-radius: 6px;
  height: 36px;
}
main .form-frame .form-container form input:not([type="checkbox"]),
main .form-frame .form-container form textarea,
main .form-frame .form-container form select {
  box-shadow: none;
  outline: 2px solid transparent;
}
main .form-frame .form-container form input:not([type="checkbox"]):focus,
main .form-frame .form-container form textarea:focus,
main .form-frame .form-container form select:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8b9099;
}
main .form-frame .form-container form .button-container {
  grid-column: 2;
  min-width: 10rem;
  justify-self: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
main .form-frame .form-container form .button-container button {
  display: inline-block;
  padding: 0 1em;
  line-height: 2em;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 5em;
  font-size: 1rem;
  cursor: pointer;
  font-family: "geomanist", sans-serif;
  transition: box-shadow 0.2s ease-in-out;
}
main .form-frame .form-container form .button-container button:focus {
  outline: 2px solid transparent;
}
main .form-frame .form-container form .button-container .ok {
  background-color: #0f8261;
  color: #fff;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
main .form-frame .form-container form .button-container .ok:focus:not(:active) {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), 0 0 0 2px #fff,
    0 0 0 4px #0f8261;
}
main .form-frame .form-container form .button-container .ok:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
main .form-frame .form-container form .button-container .warning {
  background: #ab131c;
  color: #fff;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
main
  .form-frame
  .form-container
  form
  .button-container
  .warning:focus:not(:active) {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), 0 0 0 2px #fff,
    0 0 0 4px #ab131c;
}
main .form-frame .form-container form .button-container .warning:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
main .form-frame .form-container form .error input,
main .form-frame .form-container form .error select,
main .form-frame .form-container form .error textarea {
  border: 1px solid #d8474f;
  background-color: rgba(216, 71, 79, 0.07);
}
main .form-frame .form-container form .error input:focus,
main .form-frame .form-container form .error select:focus,
main .form-frame .form-container form .error textarea:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(216, 71, 79, 1);
}
main .form-frame .form-container form .error-wrapper {
  min-height: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}
main .form-frame .form-container form .error-wrapper span {
  color: #ab131c;
}
main .form-frame .form-container dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 2.375em;
}
main .form-frame .form-container dl dt {
  justify-self: right;
  align-self: start;
  color: rgba(64, 49, 71, 0.8);
}
main .form-frame .form-container dl dd {
  justify-self: left;
  align-self: center;
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 880px) {
  main .form-frame {
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  main .form-frame .image-container {
    border-radius: 1em 1em 0 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  main .form-frame .image-container img {
    max-width: 10em;
  }
  main .form-frame .form-container {
    border-radius: 0 0 1em 1em;
    max-width: 100vw;
  }
  main .form-frame .form-container form .error .error-wrapper > span {
    font-size: 0.8rem;
  }
}
footer {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 4px 4px;
  color: #313030;
  text-align: center;
  padding-bottom: 2em;
}
footer span {
  margin: 0;
  font-family: "cornerstone", sans-serif;
  font-weight: 600;
}
